<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebarsuper">
        <div class="perfil">
            <img src="../../../assets/kevin.jpg" alt="">
            <h3>Developer Web</h3>
            <h4>{{ animatedText }}</h4>
            <button class="toggle-btn" (click)="toggleSidebar()"><i class='bx bx-left-arrow-alt'></i></button>
        </div>
        <ul>
            <li routerLink=""> 
                <i class='bx bxs-food-menu' id="logo"></i>
                <a>Blog</a>
            </li>
            <li routerLink="/About"> 
                <i class='bx bxs-user' id="logo"></i>
                <a>About Me</a>
            </li>
            <li>
                <i class='bx bx-code-alt' id="logo"></i>
                <a RouterLink="">Skills</a>
            </li>
            <li>
                <i class='bx bxs-briefcase' id="logo"></i>
                <a RouterLink="">Work</a>
            </li>
            <li>
                <i class='bx bxs-contact' id="logo"></i>
                <a RouterLink="">Contact</a>
            </li>
            <li class="logos">
                 <a href="https://github.com/gokev06/Kevin" target="_blank" rel="noopener noreferrer">
                    <i class='bx bxl-github' id="logo"></i>
                </a>
                <a href="https://www.linkedin.com/in/kevin-gonzalez-298727325/" target="_blank" rel="noopener noreferrer">
                    <i class='bx bxl-linkedin-square' id="logo"></i>
                </a>
                <a href="mailto:kevin2006gonzalez@gmail.com" target="_blank" rel="noopener noreferrer">
                    <i class='bx bxl-gmail' id="logo"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebarinfe">
        <img src="../../../assets/traducir.png" alt="">
        <a RouterLink="">Translate</a>
    </div>
</div>
