.sidebar{
    background-color: #2E2D2D;
    border-right: 3px solid white ;
    width: 250px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative; /* Permite que los hijos con position: absolute se posicionen dentro */
}

.perfil{
    display: flex;
    flex-direction: column;
    background-color: #232323;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
    color: white;
}

.perfil img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.perfil h3{
    margin-bottom: 10px;
}

.perfil h4{
    text-shadow: 0px 0px 10px #00FFFF; /* Brillo en el texto */
    animation: blink 0.7s steps(2, start) infinite;
    min-height: 20px; /* Asegura un espacio fijo para el texto */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Oculta el texto sin afectar el diseño cuando está vacío */
.perfil h4:empty::before {
    content: " ";
    visibility: hidden;
}

ul{
    list-style: none; /* Quita los estilos de la lista */
    color: white;
    text-decoration: none;

}

.active{
    text-shadow: 0px 0px 10px #00FFFF; /* Brillo en el texto */
}

ul li{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

ul li #logo{
    font-size: 35px;
}

li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

li:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px #00FFFF; /* Brillo en el texto */
    background-color: #222222;
    
}

.logos:hover{
    text-shadow: none;
    background-color: #2E2D2D;
    cursor:auto
}

ul .logos{
    border-bottom: none;
    justify-content: space-around;
}

ul li #logo:hover{
    text-shadow: 0px 0px 10px #00FFFF; /* Brillo en el texto */
}

.sidebarinfe{
    color: white;
    display: flex;
     width: 100%;
     height: 50px;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     position: absolute; /* Se coloca en relación con .sidebar */
     bottom: 0; /* Fijado en la parte inferior */
     left: 0;
}

.sidebarinfe a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.sidebarinfe img{
    width: 30px;
    height: 30px;
}

.sidebarinfe:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px #00FFFF; /* Brillo en el texto */
    background-color: #222222;
    
}
