<main>
<app-sidebar></app-sidebar>
<div class="content">
    <div class="floating-icons">
        <i *ngFor="let icon of icons"
            class="{{ icon.class }}"
            [ngStyle]="{'top': icon.top + '%', 'left': icon.left + '%', 'animation-duration': icon.duration, 'transform': icon.transform}"
            [class.float]="icon.animation === 'float'"
            [class.zigzag]="icon.animation === 'zigzag'"
            [class.rotate]="icon.animation === 'rotate'"
            [class.circular]="icon.animation === 'circular'">
        </i>
    </div>   
    <div class="contentBlog">
        <h1>I'M <strong>KEVIN</strong> GONZALEZ</h1>

        <h4>{{ animatedText }}</h4>

        <div class="btnBlog">
            <button>Contact Me</button>
            <button>Download CV</button>
        </div>
    </div> 
</div>

</main>

